//
// Mixins
// --------------------------------------------------

// clerfix
//---------------------------------------------------
@mixin clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// inline-block
//---------------------------------------------------
@mixin rem($value) {
  font-size: #{$value}px;
  font-size: #{$value/10}rem;
}